<div class="question">
  <% user = question.user %>
  <div class="row">
    <div class="col-4">
      <small>
        <% if current_user?(user) %>
          <%= link_to "You asked ", user_path(current_user) %>
        <% else %>
          <%= link_to "#{user.name} asked ", user_path(user) %>
        <% end %>
      </small>
    </div>
    <div class="col-8 badge">
      <% question.topics.each do |topic| %>
        <%= link_to topic_path(topic) do %>
          <span class="badge rounded-pill bg-info text-dark"><%= topic.name%></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="question-content">
    <%= question.content %>
  </div>

  <span class="timestamp question-timestamp">
    <%= time_ago_in_words(question.created_at) %> ago.
  </span>

</div>