<aside class="col-md-4">
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
  <section class="question_form">
    <%= render partial: 'questions/question_form', locals: { question: @question} %>
  </section>
  <section class="my-topics">
    <% if @current_user.topics.blank? %>
      <h2> You currently dont follow any topic </h2>
    <% else %>
      <h2>Topics you follow</h2>
      <% @current_user.topics.each do |topic| %>
        <a href="<%= topic_url(topic)%>" class="btn btn-primary">
          <%= topic.name %>
          <span class="badge bg-secondary">
            <%= topic.questions.length %>
          </span>
        </a>
      <% end %>
    <% end %>
  </section>
  <section>
    <% voted_questions = getUserVotedQuestions %>
    <% unless voted_questions.blank? %>
      <div class="voted-questions">
        <h3><%= "Question".pluralize(voted_questions.count) %> you voted </h3>
        <ul class="list-group">
          <% voted_questions.each do |question| %>
            <%= render partial: 'shared/item', locals: { question: question, answer: @answer } %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </section>
</aside>