<% provide(:title, 'Topics') %>

<div class="row">
  <aside class="col-md-4">
    <section class="info-section background-common">
      <h1>
        <span class="badge bg-secondary">
          <%= @topics.count %>
        </span>
      </h1>
      <h1>
        Total Topics
      </h1>
      <small class="text-muted"></small>
    </section>
  </aside>

  <div class="col-md-8 flex-column">
    <% if @topics.blank? %>
      <div class="empty-content">
        No topics available currently
      </div>
    <% else %>
      <div class="section list-item card-group align-items-center">
        <% @topics.each do |topic| %>
          <div class="topic-tag col -6 bd-10 text-center">
            <a href="<%= topic_url(topic)%>" class="badge rounded-pill bg-info text-dark main-topic">
              <%= topic.name %>
              <span class="badge bg-secondary">
                <%= topic.questions.length %>
              </span>
            </a>
            <%= render partial: 'follow_page_form', locals: {topic: topic} if logged_in? %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>