<% provide(:title, @topic.name) %>


<div class="row">
  <aside class="col-md-4">
    <section class="topic_info background-common">
      <h1>
        <%= @topic.name %>
        <span class="badge bg-secondary">
          <%= @topic.questions.length %>
        </span>
      </h1>

      <small class="text-muted">
        Updated <%= time_ago_in_words(@topic.created_at) %> ago.
      </small>
      
      <%= render partial: 'follow_page_form', locals: { topic: @topic } if logged_in? %>
    </section>
  </aside>

  <div class="col-md-8">
    <ul class="list-group">
      <% @questions.each do |question| %>
        <%= render partial: 'shared/item', locals: { question: question,  answer: @answer} %>
      <% end %>
    </ul>

  </div>
</div>

<%#= will_paginate %>
  

<%#= will_paginate %>