<div class="answer">
  <% user = answer.user %>

  <div class="row justify-content-between">
    <div class="answer-rating col-1 px-0">
      <%= render partial: 'votes/vote', locals: { answer: answer } %>
    </div>

    <div class="answer-content col-9">
      <p>
        <%= answer.content %>
      </p>
      <span class="timestamp answer-timestamp timestamp-text">
        <%= time_ago_in_words(answer.created_at) %> ago.
      </span>
    </div>

    <div class="col-2 d-flex flex-column justify-content-end answer-right-col">
      <div class="col-10 d-flex flex-row-reverse answer-icons-section">
        <% if current_user?(answer.user) %>
          <div class="delete_question">
            <%= link_to answer, method: :delete do %>
              <%= image_tag("trash.svg", height: 20, width: 20) %>
            <% end %>         
          </div>
        <% end %>
        <%= link_to gravatar_for(user, size: 25), answer.user %>
      </div>
    </div>
  </div>
</div>